---
layout: default
---
<body>
  <div id="main">
    {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}">
        <div class="container well well-lg">
          {% if page.title <> "" %}
            <h2 class="post-title">
              {% if page.git-icon %}
                <span class="mega-octicon octicon-{{ page.git-icon }}"></span>
              {% endif %}
              {{ page.title }}
            </h2>
          {% endif %}
          {% if page.tagline %}
            <div class="well well-sm project-tagline">{{ page.tagline }}</div>
          {% endif %}

          <div class="row">
            {% if page.gemver %}

            {% endif %}
            {% if page.travis %}

            {% endif %}
          </div>

          {{ page.content }}

          <div class="row">
            <div class="col-sm-6 link-to-project">
            {% if page.homepage %}
              <a href=" {{ page.homepage }}"><span class="fa fa-home"></span></span> Homepage</a>
            {% endif %}
            </div>
              <div class="col-sm-6 link-to-project">
            {% if page.repo %}
              <a href="http://github.com/{{ page.repo }}"><span class="fa fa-github"></span></span> GitHub Repository</a>
            {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-8 link-to-top"><a href="#"><span class="fa fa-arrow-up"></span></span> top</a></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
