<footer class="container page-footer">
  <!-- Latest compiled and minified JavaScript for Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <div class="row">
    <div class="col-sm-4">&copy; Seapagan 2015</div>
    <div class="col-sm-4 col-sm-offset-4 external-link"><a href="https://github.com/seapagan/"><span class="octicon octicon-mark-github"></span> My GitHub Repositories</a></div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-8 external-link"><a target="_blank" href="http://www.seapagan.net"><span class="octicon octicon-home"></span> Seapagan.net</a></div>
  </div>
</footer>
